# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea/

.vela/

.DS_Store
examples/tf-native/json/.DS_Store
examples/tf-native/json/.terraform.lock.hcl
examples/tf-native/json/.terraform/
examples/tf-native/json/terraform.tfstate
examples/tf-native/json/terraform.tfstate.backup
examples/tf-native/hcl/.DS_Store
examples/tf-native/hcl/.terraform.lock.hcl
examples/tf-native/hcl/.terraform/
examples/tf-native/hcl/terraform.tfstate
examples/tf-native/hcl/terraform.tfstate.backup