apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: tf-executor-role
  namespace: {{ .Release.Namespace }}
rules:
  # Required to read/write terraform state
  - apiGroups:
      - ""
    resources:
      - "secrets"
    verbs:
      - "get"
      - "list"
      - "create"
      - "update"
      - "delete"
  - apiGroups:
      - "coordination.k8s.io"
    resources:
      - "leases"
    verbs:
      - "create"
      - "update"
      - "get"
      - "delete"
