
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: providers.terraform.core.oam.dev
spec:
  group: terraform.core.oam.dev
  names:
    kind: Provider
    listKind: ProviderList
    plural: providers
    singular: provider
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: Provider is the Schema for the providers API.
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: ProviderSpec defines the desired state of Provider.
          properties:
            credentials:
              description: Credentials required to authenticate to this provider.
              properties:
                secretRef:
                  description: A SecretRef is a reference to a secret key that contains
                    the credentials that must be used to connect to the provider.
                  properties:
                    key:
                      description: The key to select.
                      type: string
                    name:
                      description: Name of the secret.
                      type: string
                    namespace:
                      description: Namespace of the secret.
                      type: string
                  required:
                  - key
                  - name
                  type: object
                source:
                  description: Source of the provider credentials.
                  enum:
                  - None
                  - Secret
                  - InjectedIdentity
                  - Environment
                  - Filesystem
                  type: string
              required:
              - source
              type: object
            provider:
              description: Provider is the cloud service provider, like `alibaba`
              type: string
            region:
              description: Region is cloud provider's region
              type: string
          required:
          - credentials
          - provider
          - region
          type: object
        status:
          description: ProviderStatus defines the observed state of Provider.
          type: object
      type: object
  version: v1beta1
  versions:
  - name: v1beta1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
