name: E2E Test

on:
  push:
    branches:
      - master
  workflow_dispatch: {}
  pull_request:
    branches:
      - master

env:
  GO_VERSION: '1.16'
  GOLANGCI_VERSION: 'v1.38'
  KUBECONFIG: /home/github/.kube/config

jobs:
  e2e-tests:
    runs-on: self-hosted

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Build and push images
        run: |
          sed -i "s/0.2.8/latest/g" Makefile
          make docker-build
          make docker-push

      - name: Install chart
        run: |
          kubectl cluster-info
          echo "current-context:" $(kubectl config current-context)

          helm delete terraform-controller -n terraform

          sed -i "s/0.2.8/latest/g" chart/values.yaml
          helm lint ./chart --debug
          helm upgrade --install --create-namespace --namespace terraform terraform-controller ./chart
          helm test -n terraform terraform-controller --timeout 5m
          kubectl get pod -n terraform -l "app=terraform-controller"

      - name: E2E tests
        run: |
          kubectl get secret -n vela-system alibaba-account-creds
          kubectl get secret alibaba-account-creds -n vela-system -o yaml

          make configuration

      - name: Upload coverage report
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./e2e-coverage1.xml
          flags: e2e
          verbose: true
